name: Continuous Deployment

on:
  push:
    branches:
      # TODO change to master when done
      - cd

env:
  REGION: us-east1-b

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 13.x
      - run: npm install
      - run: npm run pack
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_email: sparky-cd@api-7212810313638865816-21455.iam.gserviceaccount.com
          service_account_key: ${{ secrets.GCLOUD_CD }}
      - run: gcloud config set project api-7212810313638865816-21455
      - run: gcloud compute scp --zone $REGION $GITHUB_WORKSPACE/{dist/main.js,package{,-lock}.json} base-micro:./sparky/
      - run: gcloud compute ssh base-micro --zone $REGION --command='npm install --production'
      - run: gcloud compute ssh base-micro --zone $REGION --command='pm2 restart sparky'
